<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 인터페이스의 패키지명 + 클래스명과 일치 -->
<mapper namespace="org.scoula.todo.mapper.TodoMapper">

    <!--
       id == TodoMapper 인터페이스의 메서드명
       parameterType == 메서드의 매개 변수와 같은 타입
       #{} == PreparedStatement의 ? (placeholder) 역할
       #{title} == 전달 받은 파라미터(TodoDTO)의 title 필드 값을
                    지정된 위치에 대입 (DTO에 Getter 필수 !!)
       -->
    <insert id="insertTodo" parameterType="org.scoula.todo.domain.TodoDTO">
        INSERT INTO todo(title, description, done)
        VALUES(#{title}, #{description}, false)
    </insert>

    <update id="updateTodo" parameterType="Long">
        UPDATE todo
        SET done = NOT(done)
        WHERE id = #{id}
    </update>

    <delete id="deleteTodo" parameterType="Long">
        DELETE FROM todo
        WHERE id = #{id}
    </delete>
</mapper>